body{
    margin: 0;
    padding: 0;
    background-color:rgb(217, 236, 217);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header-container{
    background-color: #69a693;
}
.header{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.header .logo,
.header .menu{
    display: inline-block;
}
.logo_image{
    height: 70px;
}
.title{
    color: #fff;
    margin-top: 5px;
}
.menu{
    float: right;
    margin-top: 10px;
}
.top-menu,.main-menu{
    display: block;
    float: right;
}
.top-menu button{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.top-menu button:hover{
    background-color: #666;
    color: #fff;
    border: 1px solid #888;
}
.main-menu{
    margin-top: 50px;
    float: right;
}
.link, .link:visited{
    text-decoration: none;
    color: black;
}
.main-menu li{
    list-style: none;
    display: inline;
}
.main-menu a{
    background-color: #61c4a3;
    border: 1px solid #127051;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.main-menu a:hover{
    background-color: #fff;
    border: 1px solid #ccc;
}
header{
    background-image: url("../images/titleimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    text-align: center;
    height: 400px;
}
.heading span{
    color: white;
    font-size: 40PX;
    text-shadow: 2px 2px 5px gray;
}
.heading h1{
    font-size: 100px;
    font-weight: 800;
    color:orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
.destination h3{
    font-size: 20px;
}
.destination span{
    font-size:15px ;
    color: #666;
}

.mainbody{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}

.card-4{
    width: 25%;
    float: left;
}
.card-body{
    margin: 3px;
    border: solid 1px gray;
    border-radius: 5px;
    min-height: 150px;
    padding: 20px;
}
.card-body h3,
.card-body h4
{
    margin: 2px;
    text-align: center;
    color: rgb(7, 117, 45);
    background-color: #deed0f92;
}
.card-body h3{
    margin-top: 100px;
}
footer{
    margin: 3rem 0px;
    background-color: black;
    height: 150px;
}
footer p{
    text-align: center;
    font-weight: 100;
    color: white;
    padding: 50px;
}
.up-arrow{
    float: right;
    margin-right: 30px;
    margin-bottom: 20px;
    background-image:linear-gradient(to bottom right,yellow,red);
   
    
}
html{
    scroll-behavior: smooth;
}
.icon-set{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
    }
    .icon ,.up-arrow{
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        margin: 20px 20px;
        border-radius: 50%;
        display: flex;
    }
    .icon i{
        font-size: 30px;
        color: #000;
    }
    .icon:hover{
        background-image:linear-gradient(to bottom right,yellow,red) ;
    }
